matplotlib
numpy
opencv_python
opencv_python_headless
pandas
Pillow
Pillow
pymongo
Requests=
seaborn
streamlit
streamlit_option_menu
tensorflow
tensorflow_intel
ultralytics
Werkzeug
Requests
setuptools
